@model Deck

<div class="row">
    <div class="col-12">
        <h1>@Model.Name</h1>
        <p>@($"No. Of Cards - {Model.Cards.Count}")</p>
        <a href='@Url.Action("AddNewCard","DeckDetail", new { id = Model.Id })' class="btn btn-primary">Add New Card</a>
        <a href='@Url.Action("Quiz","Index")' class="btn btn-primary">Start Quiz</a>
    </div>
</div>
