@model Deck


<h1>Add New Deck</h1>

<form asp-controller="Home" asp-action="CreateDeck" method="post">
  <div class="form-group">
    <label asp-for="Name">Deck Name</label>
    <input asp-for="Name" class="form-control" aria-describedby="emailHelp" placeholder="Enter deck name">
    <span asp-validation-for="Name"></span>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>