@model List<DeckViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4" style="font-size:30px;color:grey;padding-bottom:10px;border-bottom:1px solid grey">My Decks</h1>
    <div class="row">
        @foreach(var deck in Model)
        {
                <div class="col-sm-6 col-md-4 col-lg-3">
                  <div class="card m-3" style="box-shadow:10px 5px 5px grey;">
                      <div class="card-body deck-container">
                          <h5 class="card-title">@deck.Name</h5>
                          <h6 class="card-subtitle mb-2 text-muted">@deck.TotalCards cards</h6>
                            <a asp-controller="DeckDetail" asp-action="Index" asp-route-id="@deck.Id" class="btn btn-link pl-0">View</a>
                            <form asp-controller="Home" asp-action="DeleteDeck" asp-route-deckId="@deck.Id" method="post" style="display:inline">
                                <button type="submit" class="btn btn-link">Delete</button>
                            </form>
                      </div>
                  </div>
                </div>
        }
    </div>
</div>
