@model IDeckData
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">My Decks</h1>
    @foreach(Deck deck in Model.GetDecks())
    {
        <p>@deck.Name</p>
    }
</div>
